<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="flex justify-between p-16">
        <p>tempo</p>
        <p>configuracao</p>
    </div>

    <div class="flex justify-center pt-64">
        <div class="flex flex-col">
            <p>dia, ano</p>
            <p>horario</p>
        </div>
    </div>
</body>
</html>